@import url("https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


body{
	background-color: #fdefb2;
	font-family: "Lora", serif;
	margin: 0px;
	font-size: 18px;


}

h1,h2,h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;

}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: lighter;	
	font-size: 13px;
}

a {
	text-decoration: none;

}